body{

margin:0;
font-family:Arial;
background:#f4f4f4;

}

header{

background:#8B0000;
color:white;
text-align:center;
padding:25px;

}

nav{

background:#222;
text-align:center;
padding:12px;

}

nav a{

color:white;
margin:15px;
text-decoration:none;
font-size:18px;

}

.hero{

height:400px;
background-image:url("https://images.unsplash.com/photo-1503376780353-7e6692767b70");
background-size:cover;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
color:white;
text-align:center;

}

button{

padding:12px 25px;
font-size:18px;
background:#ff9800;
border:none;
border-radius:5px;
color:white;

}

.services{

padding:40px;
text-align:center;

}

.cards{

display:flex;
justify-content:center;
gap:20px;

}

.card{

background:white;
padding:20px;
border-radius:8px;
width:200px;

}

footer{

background:#222;
color:white;
text-align:center;
padding:15px;

}
